@page "/StackLayoutPage"

<h3 class="m-2">StackLayoutPage</h3>

<div class="d-flex flex-column m-2" style="gap: 10px;">

    <div class="align-self-start" style="background-color: #ADCBFF; width: 100px; height: 100px;"></div>

    <div class="align-self-center" style="background-color: #CCFFAD; width: 100px; height: 100px;"></div>

    <div class="align-self-end" style="background-color: #ADCBFF; width: 100px; height: 100px;"></div>

</div>